<% link_to 'Articles listing', articles_path %> |
<% link_to 'About page', about_path %>

<div>
    <div class="container" id="home-container">
        <div>
            <div class="bg-light p-5 rounded-lg m-3 text-center text-white" id="jumbotron-class">
                <h1 class="display-4">Alpha Blog</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
            </div>
        </div>
    </div>
    <div class="container">
  <footer class="py-5">

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top ">
      <p>© 2023 Caraval Service, LLC. All rights reserved.</p>
    </div>
  </footer>
</div>
    </div>
</div>