<div>
    <div class="container" id="home-container">
        <div>
            <div class="bg-light p-5 rounded-lg m-3 text-center text-white" id="jumbotron-class">
                <h1 class="display-4">Alpha Blog</h1>
                <p class="lead">This aplha blog ruby on rails app.</p>
                <hr class="my-4">
                <p>This app was built using Rails 7.0.5 and Ruby 3.0.3 including Bootstrap 5.</p>
                <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
            </div>
        </div>
    </div>
  </div>
</div>